@model List<TestAthleteViewModel>

@{
    ViewData["Title"] = "Test Athletes";
}

<div class="yoyo-test">
    <div class="top">
        <a href="#"><i class="fa fa-angle-left"></i></a>
        <h3>YoYo Test</h3>
    </div>
    <div class="middle">
        <a href="javascript:void(0);" id="btnPlay" class="play-icon" onclick="app.startTest()"><i class="fa fa-play"></i></a>
        <a href="javascript:void(0);" id="btnPlayInfo" class="progress-text d-none">
            <span id="shuttleLevel">NA</span>
            <span id="shuttleNumber">NA</span><br />
            <small id="speed">NA</small>
        </a>

        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="center-div">
                    <div id="container"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <p>Next Shuttle</p>
                <span id="currentShuttleSecondsLeft">0:00 s</span>
            </div>
            <div class="col-4">
                <p>Total Time</p>
                <span id="totalTime">0:00 m</span>
            </div>
            <div class="col-4">
                <p>Total Distance</p>
                <span id="totalDistance">0 m</span>
            </div>
        </div>
    </div>
    <div class="bottom">
        <h4>Track</h4>
        <ul>
            @foreach (var testAthlete in Model)
            {
                var warned = testAthlete.IsWarned ? "warned" : "";
                var stopped = testAthlete.IsStopped ? "d-none" : "";
                var showSelect = testAthlete.IsStopped ? "" : "d-none";

                <li>
                    <div>
                        <p>@testAthlete.Name</p>
                        <div class="btn-sec @stopped">
                            <a class='@warned d-none' href="javascript:void(0);" onclick="app.warnAthlete(@testAthlete.AthleteId)">Warn</a>
                            <a class="stop d-none" href="javascript:void(0);" onclick="app.stopAthlete(@testAthlete.AthleteId)">Stop</a>
                        </div>
                        <select class="@showSelect" asp-for="@testAthlete.TestScore" asp-items="@(new SelectList(testAthlete.TestResults,"Value","Text"))" onchange="app.updateAthleteTestScore(this,@testAthlete.AthleteId)">
                        </select>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>